# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Training artifacts
#training/logs/
#training/models/
#*.zip

# OS
.DS_Store
Thumbs.db

# Tensorboard
training/tensorboard/
